<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Nizar Chtioui Weather APP</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href='{{ url_for("static", filename="fonts/font-awesome.min.css")}}' rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href='{{ url_for("static", filename="styless.css")}}'>
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src='{{ url_for("static", filename="images/logo.png")}}' alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Chtioui Nizar</h1>
							<small class="site-description">tagline goes here</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<!-- <li class="menu-item"><a href="news.html">News</a></li>
							<li class="menu-item"><a href="live-cameras.html">Live cameras</a></li>
							<li class="menu-item"><a href="photos.html">Photos</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li> -->
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image='{{ url_for("static", filename="images/banner.png")}}'>
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" id="address-input" autocomplete="off" placeholder="Find your location...">
						<input type="submit" value="Find" id="searchCountry">
						
					</form>
					<ul id="listSuggest" style="    background-color: #1e202b;
					width: 40%;
					height: auto;
					position: absolute;
					z-index: 99999;
					border-radius: 24px;
					padding: 20px;" hidden>

						</ul>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Monday</div>
								<div class="date">6 Oct</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{ country }}</div>
								<div class="degree">
									<div class="num">{{ C_Wearher }}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src='{{ url_for("static", filename="images/icons/icon-1.svg")}}' alt="" width=90>
									</div>	
								</div>
								<span><img src='{{ url_for("static", filename="images/icon-umberella.png")}}' alt="">20%</span>
								<span><img src='{{ url_for("static", filename="images/icon-wind.png")}}' alt="">18km/h</span>
								<span><img src='{{ url_for("static", filename="images/icon-compass.png")}}' alt="">East</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src='{{ url_for("static", filename="images/icons/icon-3.svg")}}' alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src='{{ url_for("static", filename="images/icons/icon-5.svg")}}' alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src='{{ url_for("static", filename="images/icons/icon-7.svg")}}' alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src='{{ url_for("static", filename="images/icons/icon-12.svg")}}' alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src='{{ url_for("static", filename="images/icons/icon-13.svg")}}' alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src='{{ url_for("static", filename="images/icons/icon-14.svg")}}' alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">Copyright 2019-2022 Chtioui Nizar</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<!-- <script src='{{ url_for("static", filename="js/jquery-1.11.1.min.js")}}'></script> -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src='{{ url_for("static", filename="js/plugins.js")}}'></script>
		<script src='{{ url_for("static", filename="js/app.js")}}'></script>
		<!-- geolocalisation autocomplete -->
		<!-- <script src='{{ url_for("static", filename="js/jsdeliv.min.js")}}'></script> -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearch.min.js"></script> -->
	
		<script>

				$( document ).ready(function() {

					$("body").on('click','.listSuggestionLi',function(){

						$('#address-input').val($(this).text());
						$("#listSuggest").empty();
						if ($("#listSuggest :not(:contains(li))") ){
							$('#listSuggest').hide();
							}
					});

					$('body').on('click','#searchCountry',function(){
						
						var adress_inpt = $('#address-input').val();
						
						window.location.replace("findplace/"+adress_inpt);
					});
					$('#address-input').on('keyup',function () { 
						let adress_inpt = $('#address-input').val();
					
						if (($(this).val().length) < 3 ){
							return false;
						}
							var settings = {
											"async": true,
											"crossDomain": true,
											"url": "https://api.locationiq.com/v1/autocomplete.php?key=011b91d8d3b1f8&q="+adress_inpt,
											"method": "GET"
											}
							var availableTags = [];

						$.ajax(settings).done(function (response) {
												
											console.log(response);
											response.map( function(adre) {
											
												availableTags.push(adre["address"].name)
											
											});
											var foo;
											console.log(availableTags);
											$("#listSuggest").empty();
											availableTags.map(function(arr){
												$("#listSuggest").append('<li class="listSuggestionLi" onmouseover="this.style.backgroundColor=\'#006db9\'" style="hover:list-style-type: none;padding: 6px;">'+arr+'</li>');
											});
											if ($("#listSuggest :not(:contains(li))") ){
												$('#listSuggest').show();
												}

								
											
						});
					});

				});
				
			
		

		
		
		  </script>

	</body>

</html>